.mainbody {
  margin: 2%;
  margin-left: 25%;
  margin-right: 25%;
  /* border: 1px solid black; */
  height: auto;
}

.title {
  text-shadow: 0px 0px 10px;
  background: #F98125;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 2%;
  color: white;
}

.passwordtext {
  padding: 2%;
  /* background: linear-gradient(royalblue 90%,white); */
  background: #5B84C4;
  color: white;
  box-shadow: 0px 0px 10px rgb(184, 195, 230);
  font-size: 25px;
}

.passwordinput {
  padding: 2%;
  background-color: #5B84C4;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.button {
  padding: 2%;
}

#id_password {
  border-radius: 8px;
  border: 1px solid gray;
}
#id_password:active {
  border-radius: 8px;
  border-radius: 0px 0px 10px black;
}

@media only screen and (max-width: 600px) {
  .mainbody {
    margin: 2%;
    height: auto;
  }
}
