.mainbody {
  border: 1px solid black;
  margin: 5%;
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

@media only screen and (max-width: 1000px) {
  .mainbody {
    width: 270px;
    display: grid;
    grid-template-rows: repeat();
    grid-template-columns: none;
  }
}
