.mainbody {
  /* border: 1px solid black; */
  margin: 2%;
}

.title {
  text-align: center;
  /* justify-content: center;
  align-items: center; */
  /* font-size: xx-large; */
  text-shadow: 0px 0px 2px;
}

.innerdiv {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  /* font-size: x-large;   */
}

.innerdiv > :nth-child(2) {
  margin-left: 25px;
}

.backbutton {
  margin-top: 25px;
  text-align: center;
}
