{% extends "administrative/base.html" %} {% load static %} {% block title %}
Dashboard {% endblock %} {% block css%}
<link
  rel="stylesheet"
  href="{% static 'administrative/css/admindashboard.css' %}"
/>
{% endblock %} {% block content %}

<div class="navbarsecond">
  <div>Welcome <b style="color: violet">{{name}}</b></div>
  <div>
    <a href="logout"
      ><button class="btn btn-danger">
        <i class="bi bi-door-open-fill"></i> Logout
      </button></a
    >
  </div>
</div>

<div class="navbarthird">
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #1c5f8c"
  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <b>Company's Action</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a
                  class="dropdown-item"
                  href="/administrative/createcompanygroup"
                >
                  create company group
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="/administrative/viewcompanygroup"
                >
                  view company groups
                </a>
              </li>
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <b> Client Action </b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="/administrative/creategroup"
                  >Create Group</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/administrative/viewgroups"
                  >View Groups</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/administrative/addmember"
                  >Add New client</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/administrative/deletemembers"
                  >Delete client's id</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="users">
  <div>
    <div align="center">
      <b>Users Registered</b>
    </div>
    <table border="0" class="table table-sm">
      <thead>
        <tr align="center" scope="col" style="background-color: cornflowerblue">
          <th scope="col"><b>Sr No.</b></th>
          <th scope="col"><b>Name</b></th>
          <th scope="col"><b>Email Address</b></th>
          <th scope="col"><b>Employee ID</b></th>
          <th scope="col"><b>Need Approval </b></th>
          <th scope="col"><b>Status</b></th>
          <th scope="col"><b>Actions</b></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for j in db %}
          <td><b>{{forloop.counter}}.</b></td>
          <td>{{j.name}}</td>
          <td>{{j.email_id}}</td>
          
          <td>{{j.employee_id}} {% if j.approval is False %}
            <span style="background-color:#84db9b;padding:2px;">New</span>
          {% endif %}</td>

          {% if j.approval is False %}
          <td>
            <a class="btn btn-danger" href="viewdetails/{{j.email_id}}"
              >Approve</a
            >
          </td>
          {% else %}
          <td><button class="btn btn-success" onclick=alert("{{j.email_id}} is already approved")>Approved</button></td>
          {% endif %} 
          {% if j.status is True %}
          <td style="color: forestgreen">Active</td>
          {% else %}
          <td style="color: red">Inactive</td>
          {% endif %}

          {% if j.approval is True %}
          <td>
            <a href="edit/{{j.employee_id}}"
              ><i class="bi bi-pencil-square" style="color: goldenrod"></i
            ></a>
            <i
              id="{{j.employee_id}}"
              class="bi bi-trash-fill"
              style="color: red"
              onclick="clicked(this.id)"
            ></i>
            <a href="view/{{j.employee_id}}"
              ><i class="bi bi-eye" style="color: green"></i
            ></a>
            <a href="changepassword/{{j.employee_id}}"
              ><i class="bi bi-key"></i
            ></a>
            <a href="mails/{{j.employee_id}}"
              ><i
                class="bi bi-envelope-check-fill"
                style="color: rgb(109, 2, 248)"
              ></i
            ></a>
            <a href="permissions/{{j.email_id}}"
              ><i class="bi bi-card-checklist"></i
            ></a>
          </td>
          {% else %}
          <td>Action needed</td>
          {% endif %}
          
        </tr>
        {% endfor %}
      </tbody>
      {% comment %}
      <tr>
        <td colspan="4">
          {% for i in paginator.page_range %}
          <ul class="pagination">
            {% if i == page_number %}
            <li class="page-item active">{% else %}</li>

            <li class="page-item">
              {% endif %}
              <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endcomment %}
    </table>
  </div>
  <div align="center">
    <div>
      <p class="title">Approve user</p>
    </div>
    <a href="approveuser"><i class="bi bi-person-check-fill"></i></a>
  </div>
</div>
<!-- 
<div class="group">
  <a href="/administrative/creategroup">
    <div style align="center">
      <img
        src="{% static 'administrative/images/create group.svg' %}"
        class="groupimage"
      />
      <div align="center">
        <p style="color: black; font-weight: bold">Create Group</p>
      </div>
    </div>
  </a>
  <a href="/administrative/viewgroups">
    <div align="center">
      <img
        src="{% static 'administrative/images/manage groups.svg' %}"
        class="groupimage"
      />
    </div>
    <div align="center">
      <p style="color: black; font-weight: bold">Manage and View groups</p>
    </div>
  </a>
  <a href="/administrative/addmember">
    <div align="center">
      <img
        src="{% static 'administrative/images/add members.svg' %}"
        class="groupimage"
      />
    </div>
    <div align="center">
      <p style="color: black; font-weight: bold">
        Add Members and Email Address
      </p>
    </div>
  </a>

  <a href="/administrative/deletemembers">
    <div align="center">
      <img
        src="{% static 'administrative/images/delete members.svg' %}"
        class="groupimage"
      />
    </div>
    <div align="center">
      <p style="color: black; font-weight: bold">Remove Members from list</p>
    </div>
  </a>
</div> -->
{% endblock%} {% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css"
/>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"
></script>
<script>
  $(document).ready(function () {
    $(".table-sm").DataTable({
      aLengthMenu: [
        [3, 5, 10, 25, -1],
        [3, 5, 10, 25, "ALL"],
      ],
      iDisplayLength: 3,
    });
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"
/>
<script>
  function clicked(employee_id) {
    console.log(employee_id);

    event.preventDefault(); // prevent form submit
    var form = event.target.form; // storing the form
    swal(
      {
        title: "Are you sure?",
        text: "Once deleted, the record will not be able to retrieve",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, Delete it!",
        cancelButtonText: "No, Abort deletion please!",
        closeOnConfirm: false,
        closeOnCancel: false,
      },
      function (isConfirm) {
        if (isConfirm) {
          console.log("{{i.0}}");
          console.log("{{group_name}}");
          swal("Deleted!", "Group has been deleted.", "success");
          window.location = `delete/${employee_id}`; // submitting the form when user press yes
        } else {
          swal("Cancelled", "The task was aborted by you", "error");
        }
      }
    );
  }
</script>

{% endblock %}
