{% extends "administrative/base.html" %}
<!-- loading base file -->

{% load static %}
<!-- static loaded -->

{% block css %}
<link
  rel="stylesheet"
  href="{% static 'administrative/css/changepassword.css' %}"
/>
{% endblock %}

<!-- Main block... -->
{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="mainbody">
    <div align="center" class="title">
      <h1>Change password for {{employee_id}}</h1>
    </div>
    <div class="passwordtext" align="center">New Password</div>
    <div class="passwordinput" align="center">
      <!-- {{form.password}} -->
      {{form.password}}
    </div>
    <div align="center" class="button">
      <button type="submit" class="btn btn-primary">Update Password</button>
    </div>
  </div>
</form>
<div align="center">
  <a href="/administrative/dashboard"
    ><button class="btn btn-info">
      <i class="bi bi-arrow-left-circle"></i>&emsp;Go back
    </button></a
  >
</div>
{% endblock %}
