{% extends "administrative/base.html" %} {% load static %} {% block title %}
delete {{employee_id}} {% endblock %}

<!-- Css -->
{% block css %}
<link
  rel="stylesheet"
  href="{% static 'administrative/css/deletepage.css' %}"
/>
{% endblock %}

<!-- Content block -->
{% block content %} {% for i in user_data %}
<div class="mainbody">
  <div>
    <b style="text-shadow: 0px 0px 10px">Employee ID : </b>
    <b style="text-shadow: 0px 0px 5px">{{i.employee_id}}<b>
  </div>
  <table class="table">
    <tr align="center">
      <th colspan="3">Delete Profile</th>
    </tr>
    {% if msg%}
    <tr>
      <td colspan="3"><p style="color: green">{{msg}}</p></td>
    </tr>
    {% endif %}

    <tr>
      <td scope="col"><b>Name</b></td>
      <td scope="col"><b>:</b></td>
      <td>{{i.name|safe}}</td>
    </tr>
    <tr>
      <td scope="col"><b>Employee Id</b></td>
      <td scope="col"><b>:</b></td>
      <td>{{i.employee_id}}</td>
    </tr>
    <tr>
      <td scope="col"><b>Email Address</b></td>
      <td scope="col"><b>:</b></td>
      <td>{{i.email_id}}</td>
    </tr>
    <tr>
      <td scope="col"><b>Status</b></td>
      <td scope="col"><b>:</b></td>
      <!-- <td>{% if i.status is True%} active {% else %} Inactive {%endif%}</td> -->
      <td>{{i.status}}</td>
    </tr>
    <tr>
      <td scope="col"><b>Mobile Number</b></td>
      <td scope="col"><b>:</b></td>
      <td>{{i.mobile_number}}</td>
    </tr>
    <tr>
      <td scope="col"><b>Attempts</b></td>
      <td scope="col"><b>:</b></td>
      <td>{{i.attempts}}</td>
    </tr>
    <tr align="center">
      <td colspan="3">
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark" >
            <i class="bi bi-trash-fill" style="font-size: 16px"></i> Delete
          </button>
        </form>
      </td>
    </tr>
  </table>
</div>
<div align="center">
  <a href="/administrative/dashboard"
    ><button class="btn btn-danger">
      <i class="bi bi-arrow-left-circle" style="font-size: 15px"></i> Go Back
    </button></a
  >
</div>
{% endfor %} {% endblock%} {% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"
/>
<script>
  function clicked(employee_id) {
    console.log(employee_id);

    event.preventDefault(); // prevent form submit
    var form = event.target.form; // storing the form
    swal(
      {
        title: "Are you sure?",
        text: "But you will still be able to retrieve this file.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, Delete it!",
        cancelButtonText: "No, Abort deletion please!",
        closeOnConfirm: false,
        closeOnCancel: false,
      },
      function (isConfirm) {
        if (isConfirm) {
          console.log("{{i.0}}");
          console.log("{{group_name}}");
          swal("Deleted!", "Group has been deleted.", "success");
          window.location = form.submit(); // submitting the form when user press yes
        } else {
          swal("Cancelled", "The task was aborted by you", "error");
        }
      }
    );
  }
</script>
{% endblock %}
