{% extends 'administrative/base.html' %}
<!-- extending base html -->
{% load static %}
<!-- Loading static -->

{% block title %} view {{email_address}} {% endblock title %}
<!-- block title -->

<!-- block css -->
{% block css %}
<link
  rel="stylesheet"
  href="{% static 'administrative/css/viewdetails.css' %}"
/>
{% endblock css %}

<!-- block content -->
{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="mainbody">
    {% for i in user %}
    <table class="table table-striped">
      <tbody>
        <tr>
          <td scope="col"><b>Name</b></td>
          <td scope="col">{{i.name}}</td>
        </tr>
        <tr>
          <td scope="col"><b>Email address</b></td>
          <td scope="col">{{i.email_id}}</td>
        </tr>
        <tr>
          <td scope="col"><b>Employee id</b></td>
          <td scope="col"><b>{{i.employee_id}}</b></td>
        </tr>

        <tr>
          <td scope="col"><b>Mobile Number</b></td>
          <td scope="col">{{i.mobile_number}}</td>
        </tr>

        <tr>
          <td scope="col"><b>Status</b></td>
          <td scope="col">{{i.status}}</td>
        </tr>

        <tr>
          <td scope="col"><b>Address</b></td>
          <td scope="col"><pre>{{i.address}}</pre></td>
        </tr>

        <tr>
          <td scope="col"><b>Question - 1</b></td>
          <td scope="col">{{i.question_1}}</td>
        </tr>

        <tr>
          <td scope="col"><b>Answer - 1</b></td>
          <td scope="col">{{i.answer_1}}</td>
        </tr>

        <tr>
          <td scope="col"><b>Question - 2</b></td>
          <td scope="col">{{i.question_2}}</td>
        </tr>

        <tr>
          <td scope="col"><b>Answer - 2</b></td>
          <td scope="col">{{i.answer_2}}</td>
        </tr>

        <tr>
          <td scope="col"><b>Group Creation</b></td>
          <td scope="col">{{i.group_creation}}</td>
        </tr>

        <tr>
          <td scope="col"><b>Group Edition</b></td>
          <td scope="col">{{i.group_edition}}</td>
        </tr>

        <tr>
          <td scope="col"><b>Group Edition</b></td>
          <td scope="col">{{i.group_edition}}</td>
        </tr>

        <tr>
          <td scope="col"><b>Department</b></td>
          <td scope="col">
            <select name="department" id="department" class="form-control">
              <option value="IT">IT</option>
              <option value="Finance">Finance</option>
              <option value="HR">HR</option>
              <option value="Marketing">Marketing</option>
            </select>

            {% comment %}
            <input
              type="text"
              name="department"
              id="department"
              class="form-control"
              autocomplete="off"
            />
            {% endcomment %}
          </td>
        </tr>
      </tbody>
    </table>
    <div align="center">
      <!-- <a href="/administrative/activate/{{i.email_id}}">
        <button
          class="btn btn-success"
          id="activatebutton"
          onclick="alert('Approving {{i.email_id}}')"
          type="submit"
        >
          Activate {{i.name}}
        </button>
      </a> -->
      <button class="btn btn-success" type="submit">Activate {{i.name}}</button>
    </div>

    {% endfor %}
  </div>
</form>
{% endblock content %}
