.mainbody {
  /* border: 1px solid black; */
  margin: 5%;
  height: auto;
}
.alert-info {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  font-family: cursive;
}
.btn-primary {
  margin-top: 10px;
  align-items: center;
}
.question {
  font-size: 20px;
}
