.mainbody {
  margin: 1%;
  /* border: 1px solid rgba(0, 0, 0, 0.472); */
  height: auto;
  /* background:rgba(255, 166, 0, 0.5); */
}

.mainpage {
  display: grid;
  border: 1px solid red;
  /* grid-template-columns: repeat(2, 2fr); */
  margin: 2%;
  margin-top: 5%;
  height: 450px;
  /* background: gray; */
}

.mainpage > div {
  /* border: 1px solid black; */
}

.loginview {
  margin: 1%;
  /* margin-top: 5%; */
  width: 35%;
  /* padding: 1%; */
  border-radius: 25px;
  border: 2px solid gray;
  background-color: rgba(0, 0, 0, 0.226);
  color: white;
  /* font-size: 35px; */
  font-weight: bold;
  padding: 5%;
}
.info {
  margin-top: 5%;
}

input {
  margin-top: 2%;
  font-size: 1.5rem;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .loginview {
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .loginview {
    width: 80%;
  }
}
