.mainbody {
  /* border: 1px solid red; */
  margin: 2%;
}

.mainbody > div {
  margin: 2%;
  /* border: 1px solid black; */
}

.tableclass {
  width: 80%;
}

td {
  padding: 2%;
  /* border: 1px solid black; */
}
/* 
tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.356);
  font-size: 1rem;
  color: black;
}

tr:nth-child(even) {
  background-color: rgba(255, 0, 0, 0.486);
  font-size: 1rem;
  color: black;
} */

tr:hover {
  background-color: rgba(0, 128, 0, 0.205);
  color: black;
}

a {
  text-decoration: none;
}
