.mainbody {
  margin: 2%;
}

.title {
  /* border: 1px solid rgba(0, 0, 0, 0.438); */
}

.tablecss {
  width: 80%;
  border: 1px solid black;
  /* margin:2%; */
}

/* 
th,
td{
    padding:2%;
    color:white;
}

tr:nth-child(even){
    background-color:rgba(255, 0, 0, 0.486);
}
tr:nth-child(odd){
    background-color:rgba(0, 0, 0, 0.356);
} */
