{% extends "mails/basehtml.html" %}
<!-- extending base template -->
{% load static %}
<!-- loading static -->
{% block title %} Send email to groups {% endblock %}
<!--  -->
{% block css %}
<link rel="stylesheet" href="{% static 'mails/css/groupemail.css'%}" />
{% endblock %}
<!-- main content -->
{% block content %}
<div class="mainbody">
  <!-- <div align="center">
    <img src='{% static "mails/images/email body.svg" %}' class="images" />
  </div> -->
  <div>
    <table class="table">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {% if msg%}
        <tr align="center">
          <p style="color: red">{{msg}}</p>
        </tr>
        {% endif %}
        <tr align="center">
          <th colspan="2">Send an email</th>
        </tr>
        <td colspan="2">
          {% for i in groups %} {% if forloop.first %}
          <div class="row">
            {% endif %}
            <div class="col">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="check"
                  name="check"
                  value="{{i.group_name}}"
                />
                <label class="form-check-label" for="check"
                  >{{i.group_name}}</label
                >
              </div>
            </div>
            {% if forloop.counter|divisibleby:6 %}
          </div>
          <div class="row">{% endif %} {% if forloop.last %}</div>
          {% endif %} {% endfor %}
        </td>
        <tr>
          <td>Title</td>
          <td>
            {% if title %}
            <input
              type="text"
              name="title"
              id="title"
              class="widths"
              placeholder="Subject of Email"
              value="{{title}}"
            />

            {% else %}
            <input
              type="text"
              name="title"
              id="title"
              class="widths"
              placeholder="Subject of Email"
            />
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{form.describe}} {{form.media}}</td>
        </tr>
        <tr>
          <td>Add Attachments</td>
          <td>
            <input
              type="file"
              name="document"
              id="document"
              accept=".jpg,.png,.pdf,.bmp,.ico,.gif,.jpeg,"
            />
          </td>
        </tr>
        <tr align="center">
          <td colspan="2">
            <button type="submit" class="btn btn-outline-primary">
              <i class="bi bi-send-fill"></i> Send email
            </button>
          </td>
        </tr>
      </form>
      <tr align="center">
        <td colspan="2">
          <a href="/selection"
            ><button class="btn btn-danger">
              <i class="bi bi-arrow-left-circle"></i> Go Back
            </button></a
          >
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %} {% block script%} {% if msg %}
<script>
  swal("{{msg}}");
</script>
{% endif %} {% endblock %}
