<!-- template extended -->
{% extends "mails/basehtml.html" %}

<!-- static files loaded -->
{% load static %}

<!-- title block start -->
{% block title %} Login {%endblock %}

<!-- css block starts -->
{% block css%}
<link rel="stylesheet" href="{% static 'mails/css/login.css' %}" />
{% endblock %}

<!-- the the main body -->
{% block content %}

<div class="mainbody" align="center">
  <div class="loginview">
    <form method="POST">
      {% csrf_token %}
      <div
        style="
          font-size: 2rem;
          color: black;
          text-shadow: 0px 0px 2px black;
          margin-bottom: 10px;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
        "
      >
        Login
      </div>
      {% if errmsg %}
      <p style="color: red">{{errmsg}}</p>
      {% endif %}

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            Email &nbsp;<i class="bi bi-envelope-fill"></i>
          </span>
        </div>
        {% if email_id %}
        <input
          type="email"
          name="email"
          id="email"
          placeholder="abc@gmail.com"
          autocomplete="off"
          class="form-control"
          value="{{email_id}}"
        />
        {% else %}
        <input
          type="email"
          name="email"
          id="email"
          placeholder="abc@gmail.com"
          autocomplete="off"
          class="form-control"
        />
        {% endif %}
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            Pass &nbsp;&nbsp;&nbsp;<i class="bi bi-lock-fill"></i>
          </span>
        </div>
        {% if password %}
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          autocomplete="off"
          class="form-control"
          value="{{password}}"
        />
        {% else %}
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          autocomplete="off"
          class="form-control"
        />
        {% endif %}
      </div>
      <div style="margin: 10px">
        <button type="submit" class="btn btn-warning" name="loginpressed">
          <i class="bi bi-arrow-right-circle-fill"></i> Login
        </button>
      </div>

      {% if enterotp %}
      <div>
        <label for="OTP">Enter OTP</label>
        <input type="text" name="OTP" id="OTP" />
        <button
          type="submit"
          class="btn btn-success"
          name="OTPbutton"
          style="margin-top: 10px"
        >
          Validate OTP
        </button>
      </div>
      {% endif %}
    </form>
    <p style="color: black">Don't have an account ?</p>
    <div border="1px solid black;">
      <a href="/registeruser">
        <button class="btn btn-light">
          <i class="bi bi-person-plus-fill"></i> Register
        </button>
      </a>
    </div>

    <!-- <div style="margin-top: 15px">
      <a href="/forgetpage">
        <button class="btn btn-primary">
           forgot password
        </button>
      </a>
    </div> -->
  </div>
</div>

{% endblock %}
